# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
Packages/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~.nib

# AppCode
.idea/

# Playgrounds
timeline.xctimeline
playground.xcworkspace/
